.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display{
  padding:3%;
  margin-block: 3%;
  margin-left: 33%;
  max-width: 25%;
  border-radius:10%;
  border-style: groove;
  display: flex;
  /* column-width: 1vmin; */
}

.btns {
  padding:1%;
  margin-block: 15%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius:12%;
  border-style: groove;
  column-count: 3;
  /* align-items: center;
  justify-content: center; */
}

.calculator{
  text-align: center;
}

table{
  margin-left: 40%;
}